.cb-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color:azure;
    z-index: 3;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.cb-indicator {
    height: 20px;
    margin-right: 10px;
    font-size: 30px;
    line-height: 30px;
    margin-top: -10px;
}

.cb-button {
    height: 20px;
    margin-right: 10px;
}